<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <div class="container">
            <h1>Sign Up </h1>
            <br/>
    <form class="form" action="{% url 'djangoapp:registration' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="firstname"><b>First Name</b></label>
            <input type="text" name="firstname" class="form-control" placeholder="Enter Your First Name">
        </div>
        <div class="form-group">
            <label for="lastname"><b>Last Name</b></label>
            <input type="text" name="lastname" class="form-control" placeholder="Enter Your Last Name">
        </div>
        <div class="form-group">
            <label for="username"><b>User Name</b></label>
            <input type="text" name="username" class="form-control" placeholder="Enter Your User Name">
        </div>
        <div class="form-group">
            <label for="password"><b>Password</b></label>
            <input type="password" name="password" class="form-control" placeholder="Enter Password">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
    </body>
</html>